
.containerContato {
    padding: 3rem;
    /* background-color: var(--darkNavy); */
}

.contatoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contatoTopo {
    text-align: center;
}

.contatoTopo h2 {
    color: var(--black);
}

.contatoTopo a {
    color: var(--gray);
    text-decoration: none;
    cursor: auto
}

.contatoTopo a:hover {
    color: var(--black);
}

.contatoForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs {
    padding: 0.8rem;
    width: 40vw;
    border-radius: 5px;
    border: 0.5px solid var(--black);
    background-color: transparent;
}

.contatoForm textarea {
    padding: 0.8rem;
    resize: none;
    border-radius: 5px;
    border: 0.5px solid var(--black);
    background-color: transparent;
}

.submitBtn {
    width: 20%;
    padding: 0.8rem;
    margin: 0 auto;
    background-color: var(--navy);
    color: var(--ice);
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid var(--black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.submitBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 990px) {

    .submitBtn {
        width: 30%;
    }
}

@media (max-width: 720px) {

    .inputs {
        width: auto;
    }
}