@import './config';

.containerNavBar {
    background-color: $navy;
    height: 25vh;
    width: 100%;
    position: fixed;
    z-index: 1000;  

    color: $ice; 
    font-weight: 600;
    padding: 0 3rem;
}

.navBarPrimary aside {
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    a {
        font-size: 1.2rem;
        text-decoration: none;
    }
    img {
        width: 1.5rem;
    }
}

.navBarMain {
    /* height: 23vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarLeft img {
    width: 75%;
    aspect-ratio: 27 / 9;
}

.navBarRight ul {
    display: flex;
    gap: 2rem; 
    list-style-type: none;
    li {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 0;
            background-color: $black; 
            transition: width 0.3s ease-in-out;
        }
    } 
}
// .navBarRight ul li::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     height: 2px;
//     width: 0;
//     background-color: $black; 
//     transition: width 0.3s ease-in-out;
// }
.navBarRight ul li:hover::after {
    width: 100%;
}

/* Menu burguer */
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $navy-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    ul li {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin: 0 1rem;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 0;
            background-color: $ice; 
            transition: width 0.3s ease-in-out;
        }
    }
} 
.overlay ul li:hover::after {
    width: 100%;
}

.mobileMenu {
    padding: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    li {
        cursor: pointer;
        font-size: 1.5rem;
        color: $ice;
    }
}

.closeButtonContainer {
    position: absolute;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    /* border: 1px solid var(--ice); */
    padding: 7px 10px;
    border-radius: 50%;
    svg {
        font-size: 35px;
    }
}


@media screen and (max-width: 1155px) {

    .navBarRight ul li {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1095px) {

    .navBarRight {
        gap: 1rem;
    }

    .navBarRight ul {
        align-items: center;
    }
}

@media screen and (max-width: 975px) {

    .navBarRight {
        flex-direction: column-reverse;
        ul {
            display: none; /* Oculta o menu normal */
        }
        svg {
            display: block; /* Mostra o ícone do menu */
            font-size: 2rem;
            cursor: pointer;
        }
        aside {
            bottom: auto;
        }
    }
}

@media screen and (max-width: 500px) {

    .containerNavBar {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
        padding: 0 1rem;
        height: auto;
    }

    .navBarPrimary aside {
        flex-direction: column;
        gap: 0rem;
        a {
            font-size: 1rem;
        }
    }
    
    .navBarMain {
        height: 10vh;
        align-items: center;
    }

    .navBarLeft img {
        width: 50%;
        padding-top: 0.5rem;
    }

    .navBarRight {
        flex-direction: row;
        padding-bottom: 0.5rem;
        svg {
            font-size: 1.5rem;
        }
    }
}