.sliderContainer {
    width: 100%;
    background-color: var(--ice);
} 

.sliderContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: grab;
    margin-top: 8.9rem;
}

@media screen and (max-width: 500px) {

    .sliderContainer img {
        margin-top: 5rem;
        height: 20vh;
    }
} 