.sliderContainer {
    width: 100%;
    height: 590px;
    background-color: var(--ice);
} 

.sliderContainer img {
    object-fit: cover;
    width: 100%;
    /* height: 100vh; */
    cursor: grab;
    margin-top: 9.8rem;
}
