
.mainFooter {
    height: 80vh;
    background-color: var(--darkNavy);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}
/* 
.logo {
    width: 30%;
}

.address {
    width: 30%;
} */

.locationMap iframe {
    border-radius: 10px;
}

.secondaryFooter {
    height: 13vh;
    background-color: var(--navy);
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--ice);
}

.socialLogo {
    display: flex;
    gap: 1rem;
}

.socialItem { 
    color: var(--ice);
    font-size: 1.5rem;
}

.socialItem:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% */
    transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {

    .secondaryFooter {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 568px) {

    .secondaryFooter {
        text-align: center;
        gap: 5px;
    }
}