.containerNavBar {
    background-color: var(--navy);
    /* height: 20vh; */
    width: 100%;
    position: fixed;
    z-index: 1000;  

    color: var(--ice); 
    font-weight: 600;
    padding: 0 3rem;
}

.navBarMain {
    height: 23vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarLeft img {
    width: 75%;
}

.navBarRight {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navBarRight ul {
    display: flex;
    /* gap: 2rem; */
    list-style-type: none;
}

.navBarRight ul li {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0 1rem;
}

.navBarRight ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--black); 
    transition: width 0.3s ease-in-out;
}

.navBarRight ul li:hover::after {
    width: 100%;
}

.navBarRight aside {
    display: flex;
    gap: 1rem;
    position: relative;
    bottom: 50px;
}

@media screen and (max-width: 1155px) {

    .navBarRight ul li {
        font-size: 0.9rem;
        margin: 0 0.6rem;
    }
}

@media screen and (max-width: 1095px) {

    .navBarRight {
        gap: 1rem;
    }

    .navBarRight ul {
        align-items: center;
    }

    .navBarRight ul li {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 975px) {

    .navBarRight {
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }

    .navBarRight ul {
        display: none; /* Oculta o menu normal */
    }

    .navBarRight svg {
        display: block; /* Mostra o ícone do menu */
        font-size: 2rem;
        cursor: pointer;
    }

    .navBarRight aside {
        bottom: auto;
    }
}

@media screen and (max-width: 500px) {

    .navBarMain {
        height: 10vh;
    }

    .navBarLeft img {
        width: 50%;
        padding-top: 0.5rem;
    }

    .navBarRight {
        flex-direction: row;
        padding-bottom: 0.5rem;
    }

    .navBarRight svg {
        font-size: 1.5rem;
    }
}