.containerNavBar {
    background-color: var(--navy);
    /* height: 20vh; */
    width: 100%;
    position: fixed;
    z-index: 1000;  

    color: var(--ice); 
    font-weight: 600;
    padding: 0 3rem;
}

.navBarMain {
    height: 21vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarLeft img {
    width: 75%;
}

.navBarRight {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navBarRight ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.navBarRight ul li {
    cursor: pointer;
}

.navBarRight aside {
    display: flex;
    gap: 1rem;
    position: relative;
    bottom: 50px;
}