.containerProposta {
    padding: 3rem 5rem;
}
 
.propostaWrap {
    display: flex;
} 

.propostaWrap aside {
    background-color: var(--navy);
    padding: 6rem 10rem 6rem 6rem;
    width: 50vw;
    height: 100vh;
    border-radius: 15px;
    color: var(--ice);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    }

.propostaWrap aside h2 {
    color: var(--black);
    font-size: 1.8rem;
}

.propostaWrap aside p {
    padding: 1.5rem 0;
}

.propostaBtn {
    background-color: var(--ice);
    color: var(--black);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.9rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.propostaBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.propostaWrap figure {
    position: relative;
}

.propostaImage {
    position: absolute; 
    z-index: 10; 
    top: 140px; 
    left: -50px; 
    width: 40vw;
    height: 55vh;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out; 
}

.propostaImage:hover {
    transform: scale(0.9); 
    transition: transform 0.3s ease-in-out;
}