.containerSteps {
    padding: 3rem;
    /* margin: 6rem 0; */
}

.stepsWrap h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
}

.stepsUl {
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
    margin: 4.5rem 2rem 0.96rem 2rem;
}

.stepsUl li a {
    text-decoration: none; 
    padding: 1rem;
    color: var(--gray);
    border-radius: 5px 5px 0px 0px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.stepsUl li.active a {
    background-color: var(--navy);
    color: var(--ice); 
}

.line {
    border: 1px solid var(--gray);
    margin-bottom: 4rem;
}

.stepsInfo {
    display: flex;
    gap: 3rem;
}

.stepsInfo img {
    width: 500px;
    border-radius: 15px;
}

.stepsInfo aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* gap: 1rem; */
}

.stepsInfo aside p {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}

.stepsInfo aside a {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: var(--navy);    /* gap: 1rem; */

    color: var(--ice);
    border-radius: 5px;
    font-size: 0.9rem;
}

@media screen and (max-width: 1120px) {
    
    .stepsInfo aside {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1023px) {

    .stepsInfo aside {
        justify-content: space-between;
    }

    .stepsInfo aside p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 892px) {

    .stepsUl {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .stepsUl li {
        width: 100%;
        text-align: center;
        /* background-color: var(--navy); */
        padding: 1rem; 
        cursor: pointer;
    }

    .stepsUl li a {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .line {
        position: relative;
        bottom: 0.2rem;
    }

    .stepsInfo {
        display: block;
        /* flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; */
    }

    .stepsInfo img {
        width: 100%;
        height: auto;
    }

    .stepsInfo aside {
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 530px) {

    .containerSteps {
        text-align: center;
    }

    .stepsUl {
        margin: auto;
        margin-top: 1.5rem;
    }

    .stepsUl li a {
        font-size: unset;
    }

}